body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background: #304D5D;
    max-width: 100%;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 45%;
    height: auto;
    margin-right: auto;
}

.nav {
    font-size: large;
    background-color: #304D5D;
    color: #fff;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row; 
}

.nav li {
    margin: 0;
    white-space: nowrap;
    margin-right: 20px; 
}

.nav a {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 2px;
    width: 0;
    height: 4px;
    background-color: orange;
    transition: width 350ms;
}

.nav a:hover:after {
    width: 95%;
}



/* Footer-Stile */
.footer {
    background-color: #304D5D;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


.flex {
    display: flex;
    justify-content: left;
    align-items: left;
    background-size: auto;
}

/* Container Kontaktformular */
.container-contact {
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.right-column-contact {
    border: 0;
}

.left-column-contact {
    flex-direction: column;
    display: flex;
}

.left-section-contact {
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
}

.left-section-contact table {
    border-collapse: collapse;
    width: 100%;
}

.left-section-contact th,
.left-section-contact td {
    border: 0;
    padding: 10px;
    text-align: left;
}

.left-section-contact th {
    background-color: #f2f2f2;
}

.left-section-contact td {
    font-size: 16px;
    color: black;
}

.contact label,
.contact legend {
    display: none;
}

h2 {
    display: block;
    font-size: 1.5em;
    color: #304D5D;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.textblock-title {
    color: #304D5D;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 18px 0;
}

.textblock {
    margin: 0 0 54px 0;
    display: flex;
    flex-direction: column;
}

.contact-title {
    color: #304D5D;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 18px 0;
}

/* Tabelle */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 15px;
    text-align: center;
}

.table th {
    background-color: #304D5D;
    color: #fff;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: orange;
    /* Hervorhebungsfarbe bei Zeilenhover */
}

/* Kontaktformular-Styling */
section form {
    max-width: 400px;
    margin: 0 auto;
    padding: 200px;
}

section label,
section input,
section textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

section button {
    display: block;
    width: 100%;
    background-color: #304D5D;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

section button:hover {
    background-color: orange;
}

/* Anpassungen für Tablets */
@media (max-width: 768px) {
    .header {
        padding: 15px;
        font-size: 24px;
    }

    .nav a {
        padding: 0px 15px;
    }

    .table {
        width: 80%;
    }

    .table th,
    .table td {
        padding: 8px;
    }
    
    .container-contact {
        flex-direction: column; /* Abschnitte stehen untereinander */
    }
}


/* Anpassungen für Smartphones */
@media (max-width: 480px) {
    .header {
        padding: 10px;
        font-size: 18px;
    }

    .nav a {
        padding: 0px 10px;
    }

    .table {
        width: 100%; /* Volle Breite auf Smartphones */
    }

    .table th,
    .table td {
        padding: 6px;
    }

    .container-contact {
        flex-direction: column; /* Abschnitte stehen untereinander */
    }
}